<script type="application/json" id="commentTextData">
  {
    "updateText": "<%= t('helpers.submit.update') %>",
    "editText": "<%= t('views.common.edit') %>",
    "contentText": "<%= Comment.human_attribute_name(:content) %>"
  }
</script>

<% if polymorphic_obj.comments.blank? %>
  <p><%= t('.no_comments') %></p>
<% else %>
  <table>
    <thead>
      <tr>
        <th><%= Comment.human_attribute_name(:content) %></th>
        <th><%= Comment.human_attribute_name(:created_at) %></th>
        <th><%= Comment.human_attribute_name(:name) %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% polymorphic_obj.comments.each do |comment| %>
        <tr>
          <td class="js-editable-comment-<%= comment.id %>"><%= comment.content %></td>
          <td><%= comment.created_at.in_time_zone %></td>
          <td><%= comment.userable.name.blank? ? comment.userable.email : comment.userable.name %></td>
          <% if current_user == comment.userable %>
            <td><%= link_to t('views.common.edit'), '#', class: 'js-comment-edit', data: { comment_id: comment.id, polymorphic_name: polymorphic_obj.model_name.singular, polymorphic_id: polymorphic_obj.id } %></td>
            <td><%= link_to t('views.common.destroy'), comment_path(comment, "#{polymorphic_obj.model_name.singular}_id": polymorphic_obj.id), method: :delete, data: { confirm: t('views.common.delete_confirm') } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<p>
  <%= form_with(url: comments_path, local: true) do |f| %>
    <%= f.hidden_field "#{polymorphic_obj.model_name.singular}_id", value: polymorphic_obj.id %>
    <%= f.text_area :content, name: 'comment[content]', required: true %>
    <%= f.submit t('views.common.new') %>
  <% end %>
</p>
